<%= @winner %>
<%= @loser %>
<%= @tie %>
<%= @stay %>
<br/>
---Dealer cards---
<% session[:dealer_cards].each do |card| %>
  <li><%= card.to_s %></li>
<% end %>
<%= calculate_total(session[:dealer_cards]) %>
<br/>

<br/>
---Players cards---
<% session[:player_cards].each do |card| %>
  <li><%= card.to_s %></li>
<% end %>
<%= calculate_total(session[:player_cards]) %>


<p>You bet $<%= session[:player_bet] %>.</p>

<% if @stay %>
<form action='/game/dealer' method='post'>
  <input type='submit' value='Dealer Turn'>
</form>
<% end %>

<% if @show_hit_and_stay %>
<p>Would you like to hit or stay</p>
<form style='display: inline' action='/game/hit' method='post'>
  <input type='submit' value='Hit' class='btn btn-success'>
</form>

<form style='display: inline' action='/game/stay' method='post'>
  <input type='submit' value='Stay' class='btn btn-info'>
</form>
<% end %>


